<app-cart-button [countProduct]="qtdProductsCart"></app-cart-button>
<div class="row">
    <div *ngFor="let product of products" class="col s12 m4 view-product">
        <div class="card">
            <div (click)="viewProduct(product)" class="card-image">
                <img src="assets/products/{{product.photos.image1}}" title="celular samsung" alt="celular samsung">
                <span class="card-title col s12 products-title black-text">{{ product.name }}</span>
            </div>
            <div class="card-content">
                <p>{{ products.description }}</p>
            </div>
            <div class="card-action">
                <a (click)="addProductShoppingCart(product)" class="btn"><i class="material-icons left">add_shopping_cart</i>Adicionar</a>
            </div>
        </div>
    </div>
</div>