<div class="row">
    <div class="col grey products-cart lighten-4 s12">
        <a routerLink="shopping-cart" class="btn-flat right"><i class="material-icons left">add_shopping_cart</i>carrinho<span class="badge green">4</span></a>
    </div>
</div>
<div class="row">
    <div (click)="viewProduct()" class="col s12 m4 view-product">
        <div class="card">
            <div class="card-image">
                <img src="assets/products/samsung1.png" title="celular samsung" alt="celular samsung">
                <span class="card-title col s12 products-title">Nome do produto</span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a class="btn"><i class="material-icons left">add_shopping_cart</i>Adicionar</a>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="assets/products/samsung1.png" title="celular samsung" alt="celular samsung">
                <span class="card-title">Nome do produto</span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="assets/products/samsung1.png" title="celular samsung" alt="celular samsung">
                <span class="card-title">Nome do produto</span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>
</div>